/* Add application styles & imports to this file! */

/* invalid-feedback class also there */
.invalid-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: rgb(220, 53, 69);
}